<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatisTest:war exploded">
    <output-path>$PROJECT_DIR$/../mybatisTest/out/artifacts/mybatisTest_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatisTest/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatisTest" />
        </element>
      </element>
    </root>
  </artifact>
</component>